.button
{
	width: 150px;
	margin: 20px;
	height: 75px;
	background-color: red;
	color: white;
}

.dropZone2
{
	color: white;
	background-color: blue;
	width: 100%;
	height: 200px;
}

.content-dropZone
{
	display: flex;
}

.listOfProposition
{
	display: flex;
	flex-wrap: wrap;
}

#align
{
	width: 500px;
}

.selected
{
	background-color: blue;
	width: 150px;
	margin: 20px;
	height: 75px;
	color: white;
}

.titre
{
	width: 41.4%;
}

.jdg
{
	width: 150px;
	height: 200px;
}