<div class="container">
	<h1>{{message}}</h1>


	<fieldset>
		<legend>Inscription</legend>
		<form>
			Nom : <input type="nom" name="nom" ng-model="nom" required>
			<br>
			Prenom : <input type="prenom" name="prenom" ng-model="prenom" required>
			<br>
			Email : <input type="email" name="email" ng-model="email" required>
			<br>
			Mot de passe : <input type="password" name="password" ng-model="password" required>
			<br>
			Retaper le mot de passe : <input type="password" name="password2" ng-model="password2" required>
			<br>
			<button ng-click="inscription()">S'inscrire</button>
		</form>
	</fieldset>

	<fieldset>
		<legend>Connexion</legend>
		<form>
			Email : <input type="email" name="email" ng-model="emailConnect" required>
			<br>
			Mot de passe : <input type="password" name="password" ng-model="passwordConnect" required>
			<br>
			<button ng-click="connexion()">Se connecter</button>
		</form>
	</fieldset>

</div>