<div class="container" ng-controller="mainCtrl">

	<div class="dropZone1" ng-drop="false" ng-drop-success="onDropComplete1($data, $event)">
		<h1>Salut {{prenom}} ! </h1>
		<h2>Score : {{score}}</h2>
		<h2>Qu'est-ce qu'il t'intéresse</h2>
		<div
		class="dropZoneContainer"
		ng-repeat="proposition in droppedObjects1"
		ng-drag="true" ng-drag-data="proposition"
		ng-drag-success="onDragSuccess1($data, $event)">
		<div class="button">{{proposition.name}}</div>
		</div>
	</div>

	<div class="dropZone2" ng-drop="{{depose}}" ng-drop-success="onDropComplete2($data, $event)">
		<h2>Place le ici</h2>
		<div class="content-dropZone">
			<div 
			ng-repeat="proposition in droppedObjects2"
			ng-drag="true" ng-drag-data="proposition"
			ng-drag-success="onDragSuccess1($data2, $event)">
				<div class="button">{{proposition.name}}</div>
			</div>				
		</div>

	</div>
	<hr>
	<div class="listOfProposition" ng-if=ready class="nouvelleListe">
		<div id="align">
			<div ng-repeat="item in newList" id="$index">
				<div ng-init='bgColor = "red"' style="background-color: {{bgColor}}" id="{{$index + index}}" class="button" ng-repeat="realItem in item" ng-click="scoreIncrement()">
					{{realItem}}
				</div>
			</div>				
		</div>

	</div>

	<div class="listOfProposition" ng-if=ready2 class="nouvelleListe">
		<h1 class="titre">Voici les thématiques que tu n'as pas retenus</h1>
		<div ng-repeat="item2 in newList2" id="$index">
			<div id="{{$index + index}}" class="button" ng-repeat="realItem2 in item2" ng-click="scoreIncrement()">
				{{realItem2}}
			</div>
		</div>
	</div>

	<div id="memory" ng-if=memory>
		<h1>Jeu du mémory !</h1>
		<div id="{{card}}" class="button" ng-repeat="card in tabMemory track by $index" ng-click="checkMemory($index)">
			<span ng-if="showCard == true || hideCard == false">{{card}}</span>
		</div>
	</div>
	<div id="victory" ng-if=showVictory>
		<h1>Les epreuves que tu as enduré t'ont permi de t'immisser au sommet</h1>
		<img src="media/img/shia.gif" alt="Victoire !"/>
	</div>


	<div id="gagneDesPoints" ng-if="gagneDesPoints">
		<p>Tu n'as que {{score}} sur 120 !</p>
		<button ng-click="memoryGame()">J'accepte</button> <button>Je refuse</button>
	</div>

	<img src="media/img/oeuf.png" ng-if="egg" ng-click="cliqueDeLinfini()">

	<div ng-if="easterEgg">
		<h1>CLique sur l'aigle</h1>
		<img class="jdg" src="media/img/pygargue.jpg" ng-if="easterEgg" ng-click="displayVideo(1)">
		<img class="jdg" src="media/img/aigle.jpg" ng-if="easterEgg" ng-click="displayVideo(2)">
		<img class="jdg" src="media/img/nkm.jpg" ng-if="easterEgg" ng-click="displayVideo(3)">
	</div>


	<iframe ng-if="pygargue" width="560" height="315" src="{{codeVideo}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen autoplay="1"></iframe>
	<button ng-click="init()" ng-if=droppedObjects2NotNullIsOk class="init">REINITIALISER</button>
	<button ng-click="displayCells()" ng-if="dropIsOk" class="init">GO</button>
	<button ng-if=nbPropositionIsOk ng-click="insertProposition()" class="init">Valider mes propositions</button>
	<button ng-if=recommencer ng-click="yesYouCan()" class="init">Recommencer</button>
	<button ng-if=showReponse2 ng-click="prepare2()" class="init">Afficher les autres réponses</button>

</div>